:80 {
    root * /var/www/html/public
    encode zstd gzip
    php_fastcgi app:9000
    file_server

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options SAMEORIGIN
        Referrer-Policy strict-origin-when-cross-origin
    }
}
